<h2>List of subscriptioner</h2>
<ul class="subscriptioner">
  <li *ngFor="let subscriptioner of subscriptioners">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{subscriptioner.id}}</span> {{subscriptioner.name}}
    </a>
    <button class="delete" title="delete subscriptioner"
      (click)="delete(subscriptioner)">x</button>
  </li>
</ul>

<div>
  <label>subscriptioner name:
    <input #subscriptionerName />
  </label>
  <button (click)="add(subscriptionerName.value); subscriptionerName.value=''">
    add
  </button>
</div>

<app-hero-detail [subscriptioner]="selectedsubscriptioner"></app-hero-detail>